html {
    --blue-gradient: linear-gradient(317deg,#2b2c95 0,#4272e6 100%);
    --blue-gradient-focused: linear-gradient(317deg, #20216e 0, #345bb7 100%);
    --blue-color: #466ed2;
    --gray-color: #666
}
* {
    font-family: "Open sans", sans-serif;
    color: var(--gray-color);
}